
html {
  box-sizing: border-box;
}


body {
  
    font-family: 'Source Sans Pro', sans-serif;
}

.col {
align-content: center;

}

#weatherData2 {
  font-size:large;
  align-content: center;
}

#weatherData2 {
  font-size:large;
 
}

.input-group {
  width: 450px;
  height: 50px;
  
}

div.listWeatherIcon {
  font-size: 20px;
  align-content: center;

}


 div.cityName {
  color:black;
  font-size: 25px;
  align-content: center;
}
 

 div.listMainTemp {
  color:black;
  font-size: 50px;
  align-content: center;
}

div.listWeatherMain {
  color:black;
  font-size: 25px;
  align-content: center;
}

div.listWeatherDescription {
  color:black;
  font-size: 25px;
  align-content: center;
}

div.listMainHumidity {
  color:black;
  font-size: 25px;
}

div.listWindSpeed {
  color:black;
  font-size: 25px;
}
