
html {
  box-sizing: border-box;
}


body {
  
    font-family: 'Source Sans Pro', sans-serif;
}

.col {
align-content: center;

}

#weatherData2 {
  font-size:large;
  align-content: center;
}

#weatherData2 {
  font-size:large;
 
}

.input-group {
  width: 450px;
  height: 50px;
  
}

div.listWeatherIcon {
  font-size: 20px;
  align-content: center;

}


 div.cityName {
  color:black;
  font-size: 25px;
  font-weight:bold;
  align-content: center;
}
 

div.MainTemp {
  font-size: 40px;
}

div.WeatherMain {
  font-size: 20px;
}

div.WeatherDescription {
  font-size: 20px;
}

div.MainHumidity {
  font-size: 20px;
}

div.WindSpeed {
  font-size: 20px;
}